body , html
{
margin:0;
padding:0;
border:0;
font-family:vaz;
width:100%;
height:100vh;
overflow:hidden;
background:#ffe2c8;
}

img 
{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@font-face
{
font-family:tan;
src:url('tanin.ttf');
}

@font-face
{
font-family:vaz;
src:url('vazir.ttf');
}

.flexor
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
width:100%;
height:100vh;
}

.page-1
{
width:100%;
height:100vh;
font-size:23px;
}

.page-1-header
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
margin-bottom:20px;
}

.page-1-header img
{
width:70px;
margin-right:10px;
}

.page-1-header span
{
font-size:50px;
font-family:tan;
}

.page-1-body
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
}

.page-1-body div span
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
}

.fields
{
width:500px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
flex-wrap:wrap;
}

.course-code
{
outline:none;
border:0;
border-radius:10px;
text-align:center;
height:30px;
width:200px;
margin:8px;
font-size:25px;
background:#ffbfa8;
transition:0.2s;
letter-spacing:4px;
font-family:tan;
}

.course-code:focus
{
background:#ffa887;
transition:0.2s;
}

.hl_btn_type_3
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#ff9a8c;
cursor:pointer;
color:black;
font-size:20px;
font-family:vaz;
transition:background 0.2s , box-shadow 0.2s , transform 0.15s , filter 0.15s;
z-index:15;
margin:20px 5px;
}

.hl_btn_type_3:hover
{
background:#ff8371;
}

.hl_btn_type_3:active
{
filter:grayscale(90%);
}

.fetch_data , .random_fill , .eraser , .question_icon
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
width:55px;
height:55px;
}

.start_havij
{
width:150px;
height:50px;
margin-right:20px;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row-reverse;
}

.start_havij span,.start_havij img
{
    transition:0.15s;
}

.start_havij:hover
{
    box-shadow:#ff837180 0 0 0 4px;
}

.start_havij img 
{
    width:25px;
    margin-right:10px;
}

.fetch_data img , .random_fill img , .eraser img , .question_icon img
{
width:40px;
}

.ext-link
{
color:#35AEFF;
border-bottom:3px solid #35AEFF;
cursor:pointer;
padding-bottom:3px;
margin-right:10px;
text-decoration:none;
font-size:22px;
}

.navigation-bar
{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:row;
    position:absolute;
    bottom:-50px;
    z-index: 100;
    transition:all 0.3s;
}

.arrow-left1,.arrow-left2
{
    transform:rotate(180deg)
}

.arrow-right1,.arrow-right2,.arrow-left1,.arrow-left2
{
    width:25px;
    background:#ff9a8c;
    padding:5px;
    border-radius:9px;
    cursor: pointer;
    transition:all 0.1s;
}

.arrow-left1
{
    margin-right:15px;
    margin-left:7px;
}

.arrow-right1
{
    margin-left:15px;
    margin-right:7px;
}

.arrow-left1:hover,.arrow-left2:hover,.arrow-right1:hover,.arrow-right2:hover
{
    background:#ff8371;
    box-shadow:#ff837180 0 0 0 4px;
}

.arrow-left1:active,.arrow-left2:active,.arrow-right1:active,.arrow-right2:active
{
filter:grayscale(90%);
}

.inner-navigator
{
    width:320px;
    height:35px;
    background:#ff9a8c;
    border-radius:9px;
    font-family:tan;
    font-size:25px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    align-content:center;
    flex-direction:row;
    overflow:hidden;
}

.inner-navigator > div
{
    width:320px;
    height:35px; 
    display:flex;
    justify-content:flex-start;
    align-items:center;
    align-content:center;
    flex-direction:row;
    transition:all 0.2s;
}

.inner-navigator > div > div
{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:row;
    margin:0 5px;
    width:310px;
    flex:none;
    height:100%;
}

.inner-navigator > div > div > div
{
    margin:0 3px;
    width:50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:row;
    transition:all 0.1s;
}

.focused-code
{
    background:#ff644e;
}